@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}

/* header */
header {
	width: 100%;
	border-bottom: 1px solid #ddd;
}
header .inner {
	width: 1180px;
	height: 60px;
	margin: 0px auto;
	position: relative; /*자식 absolute 요소의 기준점 설정*/
}
header .inner h1 {
	position: absolute;
	left: 0px;
	bottom: 15px;
}
header .inner h1 a {
	font: bold 20px/1 "arial";
	color: #444;
}

header .inner #menu {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
header .inner #menu li {
	float: left;
}
header .inner #menu li a {
	display: block; /*인라인 요소는 block설정하여 크기를 조절가능*/
	font: bold 0.9vw "arial";
	color: #555;
	padding: 20px 40px;
	transition: all 0.5s;
}
header .inner #menu li a:hover {
	background: #555;
	color: #fff;
}

/*box*/
section {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    float: left;
    margin: 50px;
    perspective: 400px;
    position:relative;
  }
  section #box {
    width: 100%;
    height: 100%;
    background: blue;
    opacity: 0.3;
    transform: rotateY(0deg);
    transition-property: transform opacity;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.46, -0.64, 0.58, 1.39);
    /* transition 축약문
    transition: all 1s cubic-bezier(.46, -0.64, .58, 1.39) 0s;
    */
	position:absolute;
  }

#box article:nth-of-type(1){
  width:100px;
  height:200px;
}
#box article:nth-of-type(2){
  width:100px;
  height:200px;
  margin: auto auto;
  border: 1px solid black;
}
#box.caseOne {
  transform: rotateY(45deg);
	background: red;
}
#box.caseTwo {
  transform: rotateY(-45deg);
	background: yellow;
}


/* footer */
/*
footer {
	width: 100%;
	background: #333;
	padding: 100px 0px;
	border-top: 1px solid #888;
}
footer .inner {
	width: 1180px;
	margin: 0px auto;
}
footer .inner .upper {
	width: 100%;
	border-bottom: 1px solid #777;
	padding-bottom: 20px;
}
footer .inner .upper::after {
	/*상단 영역 float해제*/
	/*content: "";
	display: block;
	clear: both;
}
footer .inner .upper h1 {
	float: left;
	font: bold 24px/1 "arial";
	color: #666;
}
footer .inner .upper ul {
	float: right;
}
footer .inner .upper ul li {
	float: left;
	margin-left: 20px;
}
footer .inner .upper ul li a {
	font: bold 14px/1 "arial";
	color: #666;
}
footer .inner .lower {
	width: 100%;
	padding-top: 20px;
}
footer .inner .lower address {
	width: 100%;
	font: 12px/1.3 "arial";
	color: #777;
	margin-bottom: 20px;
}
footer .inner .lower p {
	width: 100%;
	font: 12px/1 "arial";
	color: #777;
} 
*/