@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
/* @function grid($grid-size) {
	@return calc(100vw / 24 * #{$grid-size});
} */

@font-face {
	font-family: "Anybody";
	src: url("https://assets.codepen.io/1492907/Anybody.woff2") format("woff2");
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.title{
  font-family: 'Montserrat', sans-serif;
}


.setting {
  font-family: 'Palanquin', sans-serif;
  background: white;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
}

.words {
  color: white;
  font-size: 0;
  line-height: 1;
}

.words span {
  font-size: 23rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.8);
  }
  100% {
    transform: translate(30%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}

/* ABOUT PAGE */
.aboutBox{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding-top: 2%;
  }
  .aboutPic {
      width: 100%;
      background:url("../img/headshot_Jinha.jpg");
      background-size:cover;
      background-position: center;
      background-repeat:no-repeat;
  }
  .aboutGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      max-width: 800px;
      gap: 20px;
      align-items: stretch;
      padding: 20px;
  }
  .aboutBox p {
    font-family: 'Palanquin', sans-serif;;
    font-weight: thin;
    font-size: 15px;
  }
  
/*GALLERY*/
.grid{
  padding: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cell img{
    width:100%;
    opacity: 1;
    transition: .5s ease;
}

.cell:hover .image {
  opacity: 0.4;
}

.cell:hover h1 {
  opacity: 1;
}

.cell h1{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
   z-index: 9;
    font-weight: 400;
    font-size: 20px;
    mix-blend-mode: overlay;
    /* mix-blend-mode: overlay; */
}

.cell h2{
    font-weight: 100;
    font-size: 13px;
    text-align: right;
    padding-right: 15px;
    display: none;
    font-family: 'Montserrat';
}
.row::after{
    content: "";
    display: table;
    clear:both;
}

.topnav {
    overflow: hidden;
    background-color:white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:8px;
    padding: 15px;
    flex-wrap: wrap;
}

/*How to fix my name on the left all the time?*/

.topnav a{
    color:black;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
}

#name {
  /* padding-right: 880px; */
  font-size: 17px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.topnav a:hover{
  background-color: grey;
  color:white;
}

#name:hover{
  background-color: white;
  color:black; 
}

/*ARTWORKS*/
.artworks{
  text-align: center;
}

.artworktitle{
font-family: 'Lato';
width: 814px;
height: 126px;
left: -150px;
top: 350px;
position:fixed;
font-family: 'Montserrat', sans-serif;
margin-right: 500px;
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 121px;
color: grey;
transform: rotate(-90deg);
}

.artworktitle li {
  text-align: center;
  margin-left: 500px;
}

.miragetxt{
  text-align: center;
  padding-left: 20vw;
  padding-right: 20vw;
}

.bodyOrchestra i {
  padding-top: 100px;
   font-size: 20px;
   color: white;
   display: inline;
   text-shadow: 1px 1px black;
   padding-bottom: 1000px;
}

/*Design Nav*/

.cool {
  padding-top: 1.8rem;
	/* background: white; */
  font-size: 1rem;
  color:black;
}

	.cool span {
    height: 100%;
    place-items: left;
    font: bold 6rem;
    font-size: 3rem;
    padding-left: 2rem;
    font-family: 'Palanquin', sans-serif;
    font-weight: 100;
    line-height: 1.1;
		color: rgb(150, 150, 150);
		display: inline-block;
		position: relative;

  }

  .thumb img { 
	/* position:relative; */
	position:absolute;
	visibility:hidden;
width: 100%;
height: auto;
padding-left: o;
margin-left: 0;
background-color: white;
opacity: 70%;
}
.thumb:hover, .thumb:hover img { 
	visibility:visible;
	top:0;
	left:-1px; 
	z-index:-1;
}
/* @keyframes max-width {
	from {
		max-width: 0;
	}
	to {
		max-width: 100%;
	}
}

@keyframes max-height {
	from {
		max-height: 0;
	}
	to {
		max-height: 100%;
	}
} */

.cool span:hover{
	color:rgb(27, 27, 27);

}

/*Brown*/
.br main{
  width: 100%;
  height: 100vh;
}

.br section {
  width: 100%;
  height:100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.br section .block {
  width:100%;
  height: auto;
  text-align:center;
  font-size: 20px;
  font-weight: thin;  
  font-family: 'Lato';
}

.br section .block h1{
  width:100%;
  padding-left: 70px;
  padding-top:6px;
  z-index: 2;
  position: absolute;
  color:white;
  text-align: right;
  font-size: 6vh;
  padding-right:30px;
  text-shadow: 1px 1px 1px black;
  font-family: 'Palanquin', sans-serif;
  }
  
.br section .block:nth-of-type(1) {
  width:100%;
  height: auto;
  text-align:center;
}

.br section .block img{
  width:100%;
  height:auto;
  z-index: 1;
  position:relative;
}

#blogo{
  width:28vw;
  padding-top: 9vh;
  padding-bottom: 9vh;
  padding-left: 4vw;
}

.br .block:nth-of-type(4) p{
  font-family: 'Lato';
  color:black;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  padding-left: 17vw;
}

.br .block:nth-of-type(5){
  font-family: 'Lato';
  font-size: 20px;
  text-align: left;
  padding-top: 5vh;
  padding-left: 17vw;
  font-weight:thin;
  padding-bottom: 8vh;
}

#grounp_m1 {
  width:76vw;
  height:auto;
}
/*FUGITIVE*/
.context {
  text-align: center;
}
.context p {
  font-size: 60px;
  font-weight: 300;
  color: green;
}

/*STARTUP*/
.context_startup {
  align-items: center;
  text-align: center;
}
.context_startup img {
  margin-top: 10vh;
}
.context_startup p {
  margin-top: 15px;
  font-size: 30px;
  color:mediumspringgreen;
  text-shadow: 1px 1px 1px  grey;
  text-align: center;
}

/*Computing Fabrics*/
.context_cf {
  align-items: center;
  text-align: center;
}
.context_cf img {
  margin-top: 10vh;
}
.context_cf p {
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
}

/*Smart Cane*/
.context_sc {
  align-items: center;
  text-align: center;
}
.context_sc img {
  margin-top: 3vh;
  align-items: center;
}

.context_sc p {
  margin-top: 15px;
  font-size: 30px;
  color:black;
  text-align: center;
}

/*HYUNDAI*/
.content_h{
  text-align: center;
  align-items: center;
}
.content_h p{
  text-align: center;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
}
.content_h img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 1.5vh;
}

/*INTERSTYLE*/
.context_i {
  text-align: center;
  align-items: center;
}
.context_i p{
font-size: 50px;
color:black;
}
.context_i img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 1.5vh;
}

/*STR*/
.context_s {
  text-align: center;
  align-items: center;
}

.context_s img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 1.5vh;
}

/*WHYDOTS*/
.context_w{
  text-align: center;
  align-items: center;
}
.context_w img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 1.5vh;
}

.cv {
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
 }
  object {
    width: 80%;
  }

  /*Contact*/
 .contact {
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
 }
 .contact h1{
  font-weight: thin;
  font-size: 20px;
  letter-spacing: 5px;
 }
 .contact h2{
  font-size:18px;
  letter-spacing: 5px;
  font-weight: thin;
 }

/*WEB*/
body {
  margin:none;
}

/*TAB*/
@media screen and (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .aboutGrid {
    grid-template-columns: 1fr;
  }
  .aboutPic {
    height: 600px;
  }
  .jinha {
    font-size: 100px;
  }
}
/*PHONE*/
@media screen and (max-width: 600px) {
  .topnav a {
      float:none;
      width: 100%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
