.frame-78,
.frame-78 * {
  box-sizing: border-box;
}
.frame-78 {
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  width:100%;
}
.frame-59 {
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 100%;
}
.frame-58 {
    background: #171717;
    padding: 17px 23px 17px 23px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    height: 88px;
    position: relative;
}
.frame-57 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.frame-56 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 773px;
  position: relative;
}
.frame-55 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.application-for-senior-digital-designer {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
.frame-54 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 151px;
  position: relative;
}
.pngfind-com-forbes-logo-png-126619-1 {
  align-self: stretch;
  flex-shrink: 0;
  height: 34px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 131/34;
}
.jinha-kang {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: relative;
}
.frame-592 {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  position: relative;
}
.frame-60 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 613px;
  position: relative;
}
.intro {
  padding: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.headline {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.headline-span {
  font-family: "Montserrat-Regular", sans-serif;
}
.headline-span2 {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
}
.frame-73 {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.description {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.description-span {
  font-family: "Roboto-Regular", sans-serif;
}
.description-span2 {
  font-family: "Roboto-SemiBold", sans-serif;
  font-weight: 600;
}
.description-span3 {
  font-family: "Roboto-MediumItalic", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.skills-adobe-creative-suite-illustrator-photoshop-in-design-adobe-xd-express-fire-fly-html-css-basic-js-c-midjourney-flourish-infogram {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.skills-adobe-creative-suite-illustrator-photoshop-in-design-adobe-xd-express-fire-fly-html-css-basic-js-c-midjourney-flourish-infogram-span {
  font-family: "Inter-SemiBold", sans-serif;
  font-weight: 600;
}
.skills-adobe-creative-suite-illustrator-photoshop-in-design-adobe-xd-express-fire-fly-html-css-basic-js-c-midjourney-flourish-infogram-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.frame-74 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-72 {
  background: #efefef;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 4px 16px 4px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-722 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.resume {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.linkedin {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-77 {
  margin: 10px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.frame-62 {
  padding: 0px 33px 0px 33px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  height: 11050px;
  position: relative;
}
.frame-602 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-53 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 898px;
  position: relative;
}
.microplastic-mockup-3-2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 787.92px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1240/787.92;
}
.frame-51 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.science-infographic {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.frame-50 {
  border-radius: 30px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.link-to-the-article {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}
.frame-61 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.environmental-infographic {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.frame-67 {
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.frame-70 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1316px;
  position: relative;
}
.frame-66 {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-64 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 612px;
  position: relative;
}
.frame-532 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 898px;
  position: relative;
}
.microplastic-mockup-3-22 {
  flex-shrink: 0;
  width: 580px;
  height: 832px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 580/832;
}
.interactive-health-graphic {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.click-to-interactive {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  position: relative;
  width: 723px;
  height: 918px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-622 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.health-infographic {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.frame-723 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.before-after-using-ai-imagery {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.frame-732 {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 935px;
    position: relative;
    width: 100%;
}
.frame-65 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 500px;

}
.frame-533 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.microplastic-mockup-3-23 {
  align-self: stretch;
  flex-shrink: 0;
  height: 849px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 592/849;
}
.wellness-graphic {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.frame-662 {
    display: flex;
    flex-direction: row;
    gap: 26px;
    align-items: flex-start;
    justify-content: space-around;
    flex-shrink: 0;
    height: 935px;
    position: relative;
    width: 500px;
}
.frame-642 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 500px;
    position: relative;
}
.machinery-infographic {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.frame-69 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 935px;
    position: relative;
}
.educational-graphic {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.informational-graphic {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.frame-68 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.stock-line-graph {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.frame-702 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.finance-interactive-graph {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.frame-542 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 898px;
  position: relative;
}
.trend-interactive-graph {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.frame-71 {
    display: flex;
    flex-direction: row;
    gap: 26px;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-shrink: 0;
    width: 1293px;
    height: 935px;
    position: relative;
}
.health-interactive-map {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.county-map {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.microplastic-mockup-3-24 {
  align-self: stretch;
  flex-shrink: 0;
  height: 800.62px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1260/800.62;
}
.outbreak-map {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}
.frame-76 {
  background: #171717;
  padding: 40px 543px 40px 543px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  height: 147px;
  position: relative;
}
.frame-75 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 353px;
  position: relative;
}
.all-right-reserved-to-jinha-kang {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  width: 389px;
}
.email-jinhakang-work-gmail-com {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 200;
  position: relative;
  align-self: stretch;
}
